body{
    margin: 0%;
    padding: 0%;
    background-color: rgb(2, 11, 43);
    color: white;
}


.navigation {
    display: flex;
    // background-color: black;
    align-items: center;
    &__log {
        color: white;
        white-space: nowrap;
        margin-left: 5%;
        flex: 0.9;
        font-size: 22px;
    }
    &__list{
        display: flex;
        list-style-type:none;
        margin: 0%;
        justify-content: space-evenly;
    }    
    &__list-item {
        color: white;
        padding: 2.5% 5%;
        margin: 0%;
        &:hover {
            background-color: white;
            color: black;
        }
    }

    &__active {
        background-color: white;
        color: black;
    }
}

#page-active {
    display: block;
}
.home {
    display: none;
    &__introduction {
        display: flex;
        text-align: center;
        padding: 32px 128px;
        &-photo {
            width: 240px;
            height: 300px;
            padding-right: 5%;
            padding-left: 5%;
        }
        &-aboutme {
            font-size: 18px;
            text-align: left;
            line-height: 1.75;
            margin-bottom: 5%;
        }
        &-icon {
            font-size: 30px;
            & i {
                padding: 0 2%;
            }
        }
        & div {
            justify-content: center;
        }   
    }

    &__contact {
        display: flex;
        padding: 32px 128px;
        margin-bottom: 5%;
        & td {
            padding: 2px 0;
            &:first-of-type{
                padding-right: 42px;
            }
        }
        & div {
            display: flex;
        }
        &-button {
            margin-left: 20%;
            margin-right: 10%;
            text-align: center;
            text-decoration: none;
            width: 156px;
            height: 48px;
            line-height: 48px;
            color: #2194E0;
            border: 2px solid #2194E0;
            font-size: 24px;
            display: inline-block;
            border-radius: 0.3em;
            -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            position: relative;
            overflow: hidden;
            &:hover {
                background-color: #2194E0;
                color: #fff;
                border-bottom: 4px solid #1977b5;
                &:before{
                    -webkit-transform: skewX(-45deg) translateX(13.5em);
                    transform: skewX(-45deg) translateX(13.5em);
                    -webkit-transition: all 0.5s ease-in-out;
                    transition: all 0.5s ease-in-out;
                }
            }

            &:before {
                content: "";
                background-color: rgba(255, 255, 255, 0.5);
                height: 100%;
                width: 3em;
                display: block;
                position: absolute;
                top: 0;
                left: -4.5em;
                -webkit-transform: skewX(-45deg) translateX(0);
                        transform: skewX(-45deg) translateX(0);
                -webkit-transition: none;
                transition: none;
            }
        }
    }
}

.resume {
    display: none;
    & h2 {
        margin-left: 15%;
        font-size: 32px;
    }
    & h3 {
        margin-left: 18%;
    }
    
}

.timelines{
    border-left: 4px solid #dadada;
    padding: 8px 0 8px 48px;
    margin: 0 20%;
    & > div {
        margin-top: 16px;
        margin-bottom: 16px;
    }
}

.timeline {
    position: relative;
    padding: 16px 20px;
    border-radius: 4px;
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
    border-left: 10px solid#2194E0;
    margin-left: -15px;
    &::before {
        content: "";
        width: 48px;
        border-bottom: 2px solid #2194E0;
        position: absolute;
        left: -48px;
        top: 8px;
    }
    &::after{
        content: "";
        position: absolute;
        left: -52px;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        border: 2px solid #2194E0;
        top: 2px;
        background: white;
    }
}

.experience {
    &__title {
        margin: 0 0 8px;
    }

    &__meta {
        font-size: 0.8rem;
        margin-bottom: 8px;
    }

    &__year {
        color: #2194E0;
    }

    &__divider {
        border-right: 1px solid #dadada;
    }

    &__provider {
        color: #2194E0;
    }

    &__description {
        line-height: 1.75;
    }
}
.services {
    display: none;
    padding: 5% 20%;
}

.blog {
    display: none;
    padding: 5% 20%;
}

.contact {
    display: none;
}