body {
  margin: 0%;
  padding: 0%;
  background-color: #020b2b;
  color: white;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__log {
  color: white;
  white-space: nowrap;
  margin-left: 5%;
  flex: 0.9;
  font-size: 22px;
}

.navigation__list {
  display: flex;
  list-style-type: none;
  margin: 0%;
  justify-content: space-evenly;
}

.navigation__list-item {
  color: white;
  padding: 2.5% 5%;
  margin: 0%;
}

.navigation__list-item:hover {
  background-color: white;
  color: black;
}

.navigation__active {
  background-color: white;
  color: black;
}

#page-active {
  display: block;
}

.home {
  display: none;
}

.home__introduction {
  display: flex;
  text-align: center;
  padding: 32px 128px;
}

.home__introduction-photo {
  width: 240px;
  height: 300px;
  padding-right: 5%;
  padding-left: 5%;
}

.home__introduction-aboutme {
  font-size: 18px;
  text-align: left;
  line-height: 1.75;
  margin-bottom: 5%;
}

.home__introduction-icon {
  font-size: 30px;
}

.home__introduction-icon i {
  padding: 0 2%;
}

.home__introduction div {
  justify-content: center;
}

.home__contact {
  display: flex;
  padding: 32px 128px;
  margin-bottom: 5%;
}

.home__contact td {
  padding: 2px 0;
}

.home__contact td:first-of-type {
  padding-right: 42px;
}

.home__contact div {
  display: flex;
}

.home__contact-button {
  margin-left: 20%;
  margin-right: 10%;
  text-align: center;
  text-decoration: none;
  width: 156px;
  height: 48px;
  line-height: 48px;
  color: #2194E0;
  border: 2px solid #2194E0;
  font-size: 24px;
  display: inline-block;
  border-radius: 0.3em;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
}

.home__contact-button:hover {
  background-color: #2194E0;
  color: #fff;
  border-bottom: 4px solid #1977b5;
}

.home__contact-button:hover:before {
  -webkit-transform: skewX(-45deg) translateX(13.5em);
  transform: skewX(-45deg) translateX(13.5em);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.home__contact-button:before {
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 3em;
  display: block;
  position: absolute;
  top: 0;
  left: -4.5em;
  -webkit-transform: skewX(-45deg) translateX(0);
  transform: skewX(-45deg) translateX(0);
  -webkit-transition: none;
  transition: none;
}

.resume {
  display: none;
}

.resume h2 {
  margin-left: 15%;
  font-size: 32px;
}

.resume h3 {
  margin-left: 18%;
}

.timelines {
  border-left: 4px solid #dadada;
  padding: 8px 0 8px 48px;
  margin: 0 20%;
}

.timelines > div {
  margin-top: 16px;
  margin-bottom: 16px;
}

.timeline {
  position: relative;
  padding: 16px 20px;
  border-radius: 4px;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);
  border-left: 10px solid #2194E0;
  margin-left: -15px;
  display: flex;
}

.timeline::before {
  content: "";
  width: 48px;
  border-bottom: 2px solid #2194E0;
  position: absolute;
  left: -48px;
  top: 8px;
}

.timeline::after {
  content: "";
  position: absolute;
  left: -52px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 2px solid #2194E0;
  top: 2px;
  background: white;
}

.timeline__log {
  width: 128px;
  height: 128px;
  margin-right: 24px;
}

.timeline__education {
  margin-top: -12px;
}

.timeline__working {
  flex-direction: column;
}

.timeline__working-title {
  margin: 0 0 8px;
}

.timeline__working-meta {
  font-size: 0.8rem;
  margin-bottom: 8px;
}

.timeline__working-year {
  color: #2194E0;
}

.timeline__working-divider {
  border-right: 1px solid #dadada;
}

.timeline__working-provider {
  color: #2194E0;
}

.timeline__working-description {
  line-height: 1.75;
}

.services {
  display: none;
  padding: 5% 20%;
}

.blog {
  display: none;
  padding: 5% 20%;
}

.contact {
  display: none;
  margin-top: 3%;
}

.contact > div {
  display: flex;
}

.contact__map {
  margin-left: 12%;
}

.contact__map table {
  margin: 2% 0;
}

.contact__map table tr {
  margin-bottom: 4%;
}

.contact__form {
  margin-left: 12%;
}

.contact__form form {
  display: flex;
  flex-direction: column;
}

.contact__form-input {
  border: none;
  margin-bottom: 5%;
  box-shadow: 2px 2px 5px lightgrey;
  border-radius: 4px;
  padding: 5% 3%;
  width: 360px;
}

.contact__form-textinput {
  border: none;
  margin-bottom: 5%;
  width: 360px;
  height: 120px;
  border-radius: 4px;
  padding: 5% 3%;
  box-shadow: 2px 2px 5px lightgrey;
  font-family: Arial;
}

.contact__form-submission {
  border: none;
  background-color: #1c2e81;
  color: white;
  border-radius: 4px;
  padding: 3% 2%;
  width: 240px;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial;
  font-size: 16px;
  font-weight: 500;
}
